<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI 小工具</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="body">
  <form action="/" method="post">
    <div class="card">
      <img
        src="https://1.bp.blogspot.com/-DEe1iYUY1DU/XexrASNOhNI/AAAAAAABWko/fElz2C7onyEgXQqYon0ZqJyGkPrORWQIgCNcBGAsYHQ/s1600/nigaoe_napoleon_horse.png"
        alt="pokemon_logo" class="card-img">
      <h1 class="card-title">名言佳句</h1>
      <p class="card-text">
        <% if (description.length) { %>
          <%= description %>
        <% } else { %>
          <%= '佩里安德 - 事事都應做長遠考慮' %>
        <% } %>
      </p>
      <input type="text" name="description" class="card-input" placeholder="請輸入人名" />
      <button type="submit" class="card-btn">送出</button>
    </div>
  </form>
</body>

</html>